Node-RED-Flow
[{"id":"a563ad0e.1d2b08","type":"tab","label":"Visual rec","disabled":false,"info":""},{"id":"50ff176c.a6152","type":"function","z":"a563ad0e.1d2b08","name":"Process results","func":"result=[];\nmsg.result.images[0].classifiers.forEach(function(current_value, index, initial_array) {\n          current_value.classes.forEach(function(current_value,index,initial_array){\n              result.push(current_value.class);\n          });\n        });\nmsg.verbal=result.toString();\nreturn msg;","outputs":1,"noerr":0,"x":631.893310546875,"y":540.607177734375,"wires":[["7898ae01.928c8"]]},{"id":"4448c24d.a1c04c","type":"http in","z":"a563ad0e.1d2b08","name":"","url":"/upload","method":"get","upload":false,"swaggerDoc":"","x":121.42855834960938,"y":158.57147216796875,"wires":[["bc2d6836.07be6"]]},{"id":"bc2d6836.07be6","type":"template","z":"a563ad0e.1d2b08","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<center>\n    <h1>Upload an image here:</h1>\n<form action=\"/uploadsimple_post1\" method=\"POST\" enctype=\"multipart/form-data\">\n    <input type=\"file\" name=\"myFile\" />\n    <input type=\"submit\" value=\"Submit\">\n</form>\n</center>","output":"str","x":324.2858581542969,"y":165.71426391601562,"wires":[["e1321042.98aba"]]},{"id":"e1321042.98aba","type":"http response","z":"a563ad0e.1d2b08","name":"","statusCode":"","headers":{},"x":484.2858581542969,"y":165.71426391601562,"wires":[]},{"id":"47e43cd2.348834","type":"http response","z":"a563ad0e.1d2b08","name":"","statusCode":"","headers":{},"x":1668.7501220703125,"y":619.25,"wires":[]},{"id":"c7423c80.78ba5","type":"template","z":"a563ad0e.1d2b08","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<center>\n<h1>Image Analysed!</h1>\n<pre>\n{{{payload}}}\n</pre>\n<h4>Classification results:</h4>\n<p>{{verbal}}</p>\n<h1>{{action}}</h1>\n</center>","output":"str","x":1570.385009765625,"y":541.8016967773438,"wires":[["47e43cd2.348834"]]},{"id":"28d651ea.8dedce","type":"function","z":"a563ad0e.1d2b08","name":"process image output","func":"if (msg.req.files[0].mimetype.includes('image')) {\n    msg.payload = `<img src=\"data:image/gif;base64,${msg.payload.toString('base64')}\">`;\n} else {\n    msg.payload = msg.payload.toString();\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":935.5359497070312,"y":553.0357666015625,"wires":[["43cd8725.73c748","b447e530.5e6f78"]]},{"id":"220e9559.cf71e2","type":"http in","z":"a563ad0e.1d2b08","name":"","url":"/uploadsimple_post1","method":"post","upload":true,"swaggerDoc":"","x":161.57144165039062,"y":368.607177734375,"wires":[["45a85e7.a8b33a"]]},{"id":"45a85e7.a8b33a","type":"change","z":"a563ad0e.1d2b08","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"req.files[0].buffer","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":212.9287109375,"y":492.0714111328125,"wires":[["507c1c43.072e8c"]]},{"id":"507c1c43.072e8c","type":"visual-recognition-v3","z":"a563ad0e.1d2b08","name":"","vr-service-endpoint":"https://gateway.watsonplatform.net/visual-recognition/api","image-feature":"classifyImage","lang":"en","x":499.2859191894531,"y":471.21429443359375,"wires":[["50ff176c.a6152"]]},{"id":"7898ae01.928c8","type":"function","z":"a563ad0e.1d2b08","name":"trigger action","func":"if (msg.verbal.includes(\"fire\")){\n    msg.action=\"Fire Detected:Triggering Fire rescue\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":787.2859497070312,"y":444.2856750488281,"wires":[["28d651ea.8dedce"]]},{"id":"43cd8725.73c748","type":"switch","z":"a563ad0e.1d2b08","name":"","property":"action","propertyType":"msg","rules":[{"t":"cont","v":"Fire","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1132.71435546875,"y":519.1428527832031,"wires":[["ce0f7f76.4d4cc8"]]},{"id":"ce0f7f76.4d4cc8","type":"function","z":"a563ad0e.1d2b08","name":"","func":"var msg;\nmsg.payload=\"1\";\nreturn msg;","outputs":1,"noerr":0,"x":1267,"y":442,"wires":[[]]},{"id":"b447e530.5e6f78","type":"function","z":"a563ad0e.1d2b08","name":"Change verbal","func":"msg.org_payload = msg.payload\nmsg.payload = msg.verbal\nreturn msg;","outputs":1,"noerr":0,"x":1172.5,"y":623,"wires":[["6f062924.c07398"]]},{"id":"6f062924.c07398","type":"function","z":"a563ad0e.1d2b08","name":"Set payload back","func":"msg.verbal = msg.payload\nmsg.payload = msg.org_payload\nreturn msg;","outputs":1,"noerr":0,"x":1439,"y":620,"wires":[["c7423c80.78ba5"]]},{"id":"9e8e5586.601aa8","type":"comment","z":"a563ad0e.1d2b08","name":"Webpage for upload","info":"Load the webpage for uploading image ","x":139.5,"y":113,"wires":[]},{"id":"6b4075fc.97eb44","type":"comment","z":"a563ad0e.1d2b08","name":"Prosessing image","info":"Prosessing the image that's uploaded. Translate the words to dutch.","x":142.5,"y":329,"wires":[]}]
